<%- include("partials/header")  -%> 

<div class="backg-img" style="background-image: url('<%- data.image %> ');" >
    <div class="left">
        
        <br>
        <h2>Weather Details </h2>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
        <br>
        <br>
        <h2>Weather Forcast </h2>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis soluta autem earum sapiente nostrum tempore possimus iure hic consequuntur, nemo inventore cumque similique minima quasi eligendi voluptatem impedit aspernatur!</p> 
    
    </div>

</div>


<%- include("partials/footer")  -%> 