<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>City Not Found</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="background" style="background-image: url('Thunderstorm.jpg')">
      <div class="left-section">
        <h1 class="temp"> --</h1>
        <div class="city-time">
          <h2 class="city">City Not Found</h2>
          <h4 class="date-time">--</h4>
        </div>
      </div>
      <div class="right-section">
        <div class="search">
          <form action="/display" method="post" autocomplete="off">
            <input
              class="search-bar"
              id="cityName"
              type="text"
              name="cityName"
              placeholder="Enter city name.."
            />
            <button class="search-button" type="submit">Go</button>
          </form>
        </div>
        <br /><br /><br />
        <div class="right-section-title">
          <!-- <img
            class="weather-icon2"
            src="http://openweathermap.org/img/wn/@2x.png"
          /> -->
          <br /><br />
          <h3>
            The weather in -- feels like -- .
          </h3>
        </div>

        <br /><br /><br /><br />
        <div class="weather-details">
          <h3>Weather Details</h3>
          <br />
          <div class="my-row">
            <h5>Temperature</h5>
            <h5>--</h5>
          </div>
          <div class="my-row">
            <h5>Feels Like</h5>
            <h5>--</h5>
          </div>
          <div class="my-row">
            <h5>Temperature min</h5>
            <h5>--</h5>
          </div>
          <div class="my-row">
            <h5>Temperature max</h5>
            <h5>--</h5>
          </div>
          <div class="my-row">
            <h5>Clouds</h5>
            <h5>--</h5>
          </div>
          <div class="my-row">
            <h5>Pressure</h5>
            <h5>--</h5>
          </div>
          <div class="my-row">
            <h5>Humidity</h5>
            <h5>--</h5>
          </div>
        </div>
        <br />
        <br />
        <div class="weather-details">
          <h3>Sunrise Sunset</h3>
          <br/>
          <div class="my-row">
            <h5>Sunrise</h5>
            <h5>--</h5>
          </div>
          <div class="my-row">
            <h5>Sunset</h5>
            <h5>--</h5>
          </div>
        </div>
        <br />
        <br />
        <div class="weather-details">
          <h3>Wind</h3>
          <br />
          <div class="my-row">
            <h5>Wind speed</h5>
            <h5>--</h5>
          </div>
          <div class="my-row">
            <h5>Wind direction</h5>
            <h5>--</h5>
          </div>
        </div>
        <br /><br /><br /><br />
        <div class="right-section-title">
          <p>Background images taken from Unsplash</p>
          <p>Made with ❤️ by Shahbaz</p>
          <br /><br /><br /><br />
        </div>
      </div>
    </div>
  </body>
</html>
